.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 88px;
}

@media (min-width: 768px) {
  .main {
    padding-top: 96px;
  }
}
